<div class="row row-cols-1 row-cols-md-3">
    <% locals[:animals].each do |animal| %>
        <div class="col mb-4">
            <div class="card h-100">
                <div class="view overlay">
                    <%= image_tag(animal.image.to_s, class: "card-img-top animals")%>
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <div class="card-body">
                    <h4 class="card-title"><%=animal.species%></h4>
                    <%=link_to "Більше", animal_path(animal), class: 'btn btn-primary btn-md'%>
                </div>
            </div>
        </div>
    <% end %>
</div>