<div class="card bg-dark text-white">
  <%= image_tag("animals_banner_birds", class: "card-img")%>
  
  <div class="row card-img-overlay align-content-center">
    <h1 class=" display-1 card-title">Птахи</h1>
  </div>
</div>

<div class="container marketing">
    <%= render "animal_cards", locals: { animals: @birds }%>
</div>