<div class="card bg-dark text-white">
  <%= image_tag("animals_banner_1", class: "card-img")%>
  
  <div class="row card-img-overlay align-content-end">
    <h1 class=" display-1 card-title">Тварини</h1>
    <p id="subtitle" class="display-4">
      Понад двісті видів з усього світу
    </p>
  </div>
</div>

<div class="container marketing">
  <%= render "species" %>
</div>