// Place all the styles related to the Animals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#subtitle {
    font-size: 1.7rem;
}
.species-card {
    margin-right: 20px;
    margin-left: 20px;
}
.species-picture{
    max-height: 530px;
}