<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src="https://rubarbs.com/media/case/block-ci-logo-284-155.png" width="50" height="64">
      <%end%>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Тварини</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Графік</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Карта</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>