<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag(locales[:images][0], width: "100%", height: "500px")%>
    </div>
    <div class="carousel-item">
      <%= image_tag(locales[:images][1], width: "100%", height: "500px")%>
    </div>
    <div class="carousel-item">
      <%= image_tag(locales[:images][2], width: "100%", height: "500px")%>
    </div>
  </div>
</div>
